* {
      box-sizing: border-box;
    }
    
    body {
      font-family: Arial;
      padding: 0px;
      background: #000;
    }
    
    /* Header/Blog Title */
    .header {
      padding: 30px;
      text-align: center;
      background: white;
    }
    
    h1 {
      font-size: 50px;
      color: #f1f1f1;
    }
    h2{
        color: #fff;
    }

    p {
        color: #f0f0f0;
    }
    
    /* Style the top navigation bar */
   
    /* Create two unequal columns that floats next to each other */
    .intro-container, .middle-container{
        background-color: #000;
        display: flex;
	    margin: 50px;
	    padding: 25px;
	    min-height: 75vh;
    }
    .intro {
        flex: 1;
        text-align: center;
    }
    .introimg{
        width: 50%;
    }
    .introimg img{
        max-height: 1000px;
        width: 100%;
        display: block;
        height: auto;
	    object-fit: cover;
    }
    .eventlist img{
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
    }
    .services{
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
    }
   #grey{
       background-color: rgba(255, 255, 255, 0.5);
       margin: 50px;
   }
    
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
    }
    
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    @media screen and (max-width: 400px) {
     
    }